<h1>Restaurants</h1>

<%= link_to "+ New restaurant", new_restaurant_path %>

<hr>
<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <p><%= restaurant.address %></p>
  <p>Stars: <%= "*" * restaurant.stars %></p>
  <hr>
<% end %>

<%= link_to "+ New restaurant", new_restaurant_path %>
